body{
	padding: 20px;
	border: 20px solid #bdc3c7;
    margin: 20px auto;
    max-width: 700;
    width: 80%;
}
.qoute{
	border-left: 5px solid #bdc3c7;
	padding-left:5px; 
}
.date{
	color: #bdc3c7;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}